release for aerosols
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
1  ! nspec
16  ! species 

$rel_start
$rel_end
$x0  
$y0
$x1
$y1 
1   !kind 
$z1     ! z1
$z2     ! z2
$parts_number ! number of particles
1.0  ! mass per species 
$comment ! comment  

