release for both aerosols and noble gases (2 species)
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
 +++++++++++++++++ HEADER +++++++++++++++++++++
2  ! nspec
1  ! species 
16  ! species 

$rel_start
$rel_end
$x0  
$y0
$x1
$y1 
1   !kind 
$z1     ! z1
$z2     ! z2
$parts_number ! number of particles
1.0  ! mass per species 
1.0  ! mass per species 
$comment ! comment  

